<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Não se esqueça:</h5>
    <div class="mt-3">
        <ul *ngIf="this.selectAtividade">
          <li *ngFor="let lDicas of selectAtividade.dicas">{{lDicas.conteudo}}</li>
        </ul>
      <form>
        <div class="form-group">
          <label for="dica">Escreva a dica: </label>
          <textarea [(ngModel)]="dDica" type="text" class="form-control form-control-sm" id="iDica" name="dica"></textarea>
        </div>
        <div>
          <label for="dica">Usuário: </label>
          <input [(ngModel)]="dUsuario" type="text" class="form-control form-control-sm" id="dUser" name="dUser">
        </div>
        <button class="btn btn-dark btn-sm mt-2" (click)="addDica()">
          <i class="fa fa-plus"> Adicionar dica</i>
        </button>
      </form>

    </div>
  </div>
</div>
