<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Não se esqueça:</h5>
    <div class="mt-3">
      <p class="card-text">Listar as dicas da atividade.</p>
        <form>
            <div class="form-group">
                <label for="dica">Escreva a dica: </label>
                <textarea [(ngModel)]="dDica" type="text" class="form-control form-control-sm" id="iDica" name="dica"></textarea>
            </div>
            <button class="btn btn-dark btn-sm" (click)="addDica()"> <i class="fa fa-plus"></i> </button>
        </form>
    </div>
  </div>
</div>
