<div *ngIf="this.itinerario" class="container">
  <div class=" card shadow mb-3 border-dark">
    <div class="card-header">
      <h3 class="text-center">{{this.itinerario.nome}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <div class="card shadow mb-3">
            <div class="card-header">
              Criador:
              <h4>{{this.itinerario.usuario.nome}}</h4>
              Social:
              <h4>{{this.itinerario.usuario.email}}</h4>
              Local:
              <h4>{{this.itinerario.local.local}}</h4>
              <div class="mb-1">
                <bar-rating [(rate)]="rate" name="rating" [readOnly]="true" [max]="5" required disabled></bar-rating>
                <div *ngIf="vclick">
                  <button type="button" class="btn btn-outline-success" disabled>
                    <i class="fa fa-thumbs-up"></i>
                  </button>
                  <button type="button" class="btn btn-outline-danger" disabled>
                    <i class="fa fa-thumbs-down"></i>
                  </button>
                </div>
                <div *ngIf="!vclick">
                  <button type="button" class="btn btn-outline-success" (click)="like()">
                    <i class="fa fa-thumbs-up"></i>
                  </button>
                  <button type="button" class="btn btn-outline-danger" (click)="dislike()">
                    <i class="fa fa-thumbs-down"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body mb-3">
              <h3 class="card-title">Atividades
                <span *ngIf="this.selectedDia" class="float-right">{{this.selectedDia.data}}</span>
              </h3>
              <ul class="nav nav-tabs">
                <li *ngFor="let dia of this.itinerario.dias" class="nav-item">
                  <a (click)="selectDia(dia)" class="nav-link" role="tab" [ngClass]="{'active': this.selectedDia == dia}">Dia {{dia.dia}}</a>
                </li>
              </ul>
              <ul *ngIf="this.selectedDia" class="list-group">
                <li class="list-group-item" *ngFor="let ativ of this.selectedDia.atividades" [ngStyle]="{'background-color': selecionado(ativ)}"
                  (click)="setIti(ativ)" (click)="onSelect(ativ)">
                  <i *ngIf="ativ.done" (click)="done(ativ)" class="fa fa-check-square"></i>
                  <i *ngIf="!ativ.done" (click)="done(ativ)" class="fa fa-square"></i>
                  {{ativ.hora}} -> {{ativ.conteudo}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <app-inserir-dicas (newAtividade)="onNewAtividade($event)" [selectAtividade]="selectAtividade"></app-inserir-dicas>
        </div>
      </div>
      <div class=" mb-3 card card-body shadow">
        <app-mapa [itiLocal]="this.itinerario.local"></app-mapa>
      </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div *ngFor="let foto of this.fotos" class=" col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{foto}}&key=AIzaSyAdzUm2Fsuw76LOq3EU2_HPkJDBwTXHuTc"
                  alt="Card image cap">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>