<div class="card border-dark card-body mb-3 shadow-lg">
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card border-dark mb-4">
                <h3 class=" card-header mb-3">
                    <span class="badge badge-pill badge-dark">1</span> Informações</h3>
                <div class="card-body card-text mb-4">
                    <form>                       
                        <div class="form-group">
                            <label for="nome">Nome do itinerário: </label>
                            <small>
                                <input [(ngModel)]="iNome" class=" form-control form-control-sm" type="text" name="nome" id="nome">
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="name">Nome: </label>
                            <small>
                                <input [(ngModel)]="uNome" class=" form-control form-control-sm" type="text" name="name" id="name">
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <small>
                                <input [(ngModel)]="uEmail" class=" form-control form-control-sm" type="text" name="email" id="email">
                            </small>
                        </div>
                        <!-- <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input type="file" class="form-control form-control-sm">
                    </div> -->
                    </form>
                </div>
            </div>
            <div class="card  border-dark">
                <h3 class="card-header mb-3">
                    <span class="badge badge-pill badge-dark">2</span> Local</h3>
                <app-mapa class="card-body card-text"></app-mapa>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  border-dark">
                <h3 class="card-header">
                    <span class="badge badge-pill badge-dark">3</span> Atividades</h3>
                <div class="card-body card-text">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="atividade">Escreva a atividade: </label>
                                <input [(ngModel)]="aConteudo" type="text" class="form-control form-control-sm" name="atividade">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hora">Hora:</label>
                                <input [(ngModel)]="aHora" name="hora" type="time" class="form-control form-control-sm">
                            </div>
                        </div>
                    </form>
                </div>
                <button class="btn btn-dark btn-sm" (click)="addAtividade()">Adicionar atividade</button>
            </div>
            <div class=" card  border-dark mt-3">
                <h3 class="card-header">
                    <span class="badge badge-pill badge-dark">4</span> Dicas</h3>
                <div class="card-body card-text">
                    <form>
                        <div class="form-group">
                            <label for="dica">Escreva a dica: </label>
                            <textarea [(ngModel)]="dConteudo" type="text" class="form-control form-control-sm" id="dica" name="dica"></textarea>
                        </div>
                    </form>
                </div>
                <button class="btn btn-dark btn-sm" (click)="addDicas()">Adicionar dica</button>
            </div>
            <div class=" card  border-dark mt-3">
                <h3 class="card-header">
                    <span class="badge badge-pill badge-dark">5</span> Descrição</h3>
                <div class="card-body card-text">
                    <form>
                        <div class="form-group">
                            <label for="dica">Escreva a descrição: </label>
                            <textarea [(ngModel)]="iDescricao" type="text" class="form-control form-control-sm" id="descricao" name="descricao"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card  border-dark">
                <h4 class=" card-header mb-3">Itinerario</h4>
                <ul class="list-group">
                    <div class="card-body card-text">
                        <li class="list-group-item" [ngStyle]="{'background-color': selecionado(ativ)}" (click)="setIti(ativ)" *ngFor="let ativ of this.atividades">
                            {{ativ.hora}} {{ativ.conteudo}}
                            <ul>
                                <li class="list-group-item" *ngFor="let dica of ativ.dicas">{{dica.conteudo}}</li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <button (click)="addItinerario()" class="btn btn-primary btn-dark mt-4">Concluir</button>
            <button routerLink="/" class="btn btn-primary btn-dark mt-4">Cancelar</button>
        </div>
    </div>
</div>