<h2>Pesquisar: </h2>
<form class="form-inline my-2 my-lg-0">
  <input [(ngModel)]="pesqCity" name="cidade" class="form-control col-md-6" type="search" placeholder="Digite a cidade">
  <button class="btn btn-sm btn btn-outline-dar" type="submit" (click)="pesquisarCidade()">
    <i class="fa fa-search"></i>
  </button>
</form>
<div class="container">
  <div class="col d-flex">
    <div class="card-deck mt-3">
      <app-carditi *ngFor="let itin of pItinerario" [itinerario]="itin"></app-carditi>
      <div *ngIf="this.mensagem">
        <h4>Não há itinerários cadastrados para esta pesquisa.</h4>
      </div>
    </div>
  </div>
</div>